In [2]:
import numpy as np

In [3]:
import pandas as pd

In [5]:
from sklearn.model_selection import train_test_split

In [7]:
from sklearn.linear_model import LogisticRegression

In [9]:
from sklearn.metrics import confusion_matrix

In [11]:
from sklearn.metrics import accuracy_score

In [13]:
from sklearn.metrics import precision_score, recall_score

In [15]:
df = pd.read_csv("Social_Network_Ads.csv")

In [17]:
df

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [20]:
df.columns

Index(['Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [22]:
x = df[['Age', 'EstimatedSalary']]

In [24]:
x

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [27]:
y = df[['Purchased']]

In [29]:
y

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [31]:
x_train,x_test, y_train, y_test = train_test_split(x,y,test_size = 0.25, random_state = 4)

In [33]:
model = LogisticRegression()
model.fit(x_train, y_train.values.ravel())

LogisticRegression()

In [35]:
y_pred = model.predict(x_test)

In [37]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [39]:
model.score(x_train, y_train)

0.6233333333333333

In [41]:
model.score(x,y)

0.6425

In [43]:
cm = confusion_matrix(y_test, y_pred)

In [45]:
cm

array([[70,  0],
       [30,  0]], dtype=int64)

In [47]:
tn,fp,fn,tp = confusion_matrix(y_test,y_pred).ravel()

In [49]:
print(tn,fp,fn,tp)

70 0 30 0

In [51]:
a = accuracy_score(y_test, y_pred)

In [53]:
a

0.7

In [55]:
e = 1-a

In [57]:
e

0.30000000000000004

In [59]:
precision_score(y_test, y_pred, zero_division=1)

1.0

In [60]:
recall_score(y_test,y_pred)

0.0